// ------------------------------------------------
// Variables
// ------------------------------------------------

// Colors
$colorLightPrimary: #fff; // White
$colorLightSecondary: #f4f4f4; // Light Grey
$colorMedium: #dfdfdf; // Medium Grey
$colorDarkPrimary: #000; // Black

// Text colors
$color1: #6495ed;
$color2: #ffd700;

// Spacings
$spaceSmall: 5px;
$spaceMedium: 12px;
$spaceLarge: 20px;
$spaceXLarge: 40px;
$spaceXXLarge: 90px;

$spaceSmallHeight: 4vh;
$spaceMediumHeight: 7vh;
$spaceLargeHeight: 10vh;
$spaceXLargeHeight: 20vh;
$spaceXXLargeHeight: 30vh;

// Font sizes
$fontsizeS: 0.9vw;
$fontsizeM: 1.2vw;
$fontsizeL: 1.8vw;
$fontsizeXL: 2.8vw;
$fontsizeXXL: 1vw;
$fontsizeXXXL: 1.3vw;
