@import '_variables.scss';

.projects-info {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 300ms;
}

.arrow {
  filter: invert(83%) sepia(16%) saturate(3622%) hue-rotate(360deg)
    brightness(104%) contrast(104%);
  height: 5%;
  cursor: pointer;
  transition: all 300ms;

  &:hover {
    filter: invert(83%) sepia(16%) saturate(3622%) hue-rotate(360deg)
      brightness(104%) contrast(104%) drop-shadow(0px 0px 5px $color2);
  }
}

.right {
  transform: rotate(180deg);
}

.project-carousel {
  display: flex;
  max-width: 50vw;
  overflow: hidden;
}

.project-carousel-wrapper {
  display: flex;
  width: 4799px;
  transition: margin-left 1s;
  margin-left: 0;
}

.project-detail {
  width: 50vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-def {
  position: relative;
  left: 12%;
  z-index: 1;
}

.project-heading {
  font-size: $fontsizeM * 1.2;
  padding-bottom: 12px;
  color: $color2;
}

.project-type {
  color: #c0c0c0;
  font-size: $fontsizeS * 1.3;
  padding-bottom: 7px;
}

.project-link {
  font-size: $fontsizeS * 1.4;
  transition: all 300ms;

  &:hover {
    color: $color2;
  }
}

.random-object-1 {
  width: 20vw;
  height: $spaceXXLargeHeight + $spaceLargeHeight;
  background: $color1;
}

.random-object-2 {
  width: 20vw;
  height: $spaceXXLargeHeight + $spaceLargeHeight;
  border-radius: 50%;
  background-color: $color1;
  margin: 0 14%;
}

.random-object-3 {
  width: 0;
  height: 0;
  border-bottom: 40vh solid $color1;
  border-left: 20vw solid transparent;
}

.random-object-4 {
  width: 20vw;
  height: $spaceXXLargeHeight + $spaceLargeHeight;
  transform: skew(20deg);
  background: $color1;
}

.random-object-5 {
  border-bottom: 35vh solid $color1;
  border-left: 10vw solid transparent;
  border-right: 10vw solid transparent;
  height: 0;
  width: 10vw;
}

/* For mobile phones, tabs, ipads etc. */
@media only screen and (max-width: 768px) {
  .projects-info {
    padding-top: 25vh;
  }

  .arrow {
    width: 10%;
  }

  .project-def {
    z-index: 1;
  }

  .project-heading {
    font-size: 2.2vh;
    padding-bottom: 12px;
  }

  .project-type {
    color: #c0c0c0;
    font-size: 1.9vh;
    padding-bottom: 7px;
  }

  .project-link {
    font-size: 2vh;
  }

  .random-object-1 {
    width: 20vw;
    height: 15vh;
    margin: 0;
  }

  .random-object-2 {
    width: 25vw;
    height: 15vh;
    border-radius: 50%;
    background-color: $color1;
    margin: 0;
  }

  .random-object-3 {
    width: 0;
    height: 0;
    border-bottom: 20vh solid $color1;
    border-left: 25vw solid transparent;
  }

  .random-object-4 {
    width: 10vw;
    height: 13vh;
    transform: skew(20deg);
    background: $color1;
  }

  .random-object-5 {
    border-bottom: 15vh solid $color1;
    border-left: 5vw solid transparent;
    border-right: 5vw solid transparent;
    height: 0;
    width: 10vw;
  }
}
