@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  font-family: 'Raleway', sans-serif;
}
::-webkit-scrollbar {
  background-color: #eee;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 30px;
}
span,
a,
p,
h1,
ul,
li,
h4,
h2,
button {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  list-style: none;
  text-decoration: none;
  z-index: 10;
  outline: none;
}
.notfound {
  display: none;
}
.container {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
}

/* floating nav */
.floating-nav {
  top: 45vh;
  left: 93vw;
  width: 6vw;
  position: fixed;
  z-index: 3;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.floating-nav p {
  width: 100%;
  font-size: 1vw;
  display: flex;
  color: #fff;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  padding: 0.5vh 0.5vw;
  cursor: pointer;
  transition: ease-out 0.2s;
}
.floating-nav p:hover {
  background-color: #ffffff70;
  color: #000;
}

/* intro section */
.intro {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
.main-text {
  color: #f0f8ff;
  font-size: 3vw;
  line-height: 5.5vh;
  padding: 1vh 1vw 1vh 5vw;
}
.highlight {
  font-weight: 600px;
  color: #32cd32;
}
.highlight-two {
  font-weight: 600px;
  color: #c71585;
}
.main-btn {
  padding: 1vh 1vw;
  width: 11vw;
  margin: 3vh 0 0 5vw;
  color: #f0f8ff;
  cursor: pointer;
  font-size: 1.2vw;
  border: 1px solid #f0f8ff;
  background-color: transparent;
  transition: ease-in 0.2s;
}
.main-btn:hover {
  border: 1px solid #c71585;
  background-color: #c71585;
  color: #f0f8ff;
}

/* works */
.works {
  /* width: 100%; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #00203f; */
  color: #f0f8ff;
}

/* bio */
.bio {
  height: 100%;
  margin-left: 10vw;
  width: 27.965vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.round-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.main-bio {
  padding: 2vh 2vw;
  line-height: 3.5vh;
  font-size: 1.2vw;
}

/* h ruler */
.h-ruler {
  height: 90%;
  width: 0.1vw;
  background-color: #adefd1ff;
}

/* works list */
.works-list {
  margin-top: 10vh;
  margin-left: 5vw;
  margin-right: 10vw;
  height: 90vh;
  width: 46.935vw;
}
.my-works {
  color: #adefd1ff;
  margin-bottom: 5vh;
}
.card {
  height: 11vh;
  width: 80%;
  margin: 1vh 1vw;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 5px;
  background-color: #ffffff33;
}
.card p {
  padding: 0.5vh 2vw;
}
.card-btn {
  height: 3.5vh;
  width: 5vw;
  position: absolute;
  right: 2vw;
  color: #f0f8ff;
  cursor: pointer;
  background-color: #00203fff;
  border-radius: 4px;
  border: 1px solid #f0f8ff;
  transition: ease-out 0.2s;
}
.card-btn:hover {
  border: 1px solid #c71585;
  background-color: #c71585;
  color: #f0f8ff;
}
.card-heading {
  color: #ffffff;
}
.card-desc {
  color: #d3d3d3;
  font-size: 0.9vw;
}
.card-code {
  color: #32cd32;
  font-size: 1vw;
}

/* contact me */
.contact-me {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #adefd1ff;
  color: #00203fff;
}

/* contact me form */
.contact-me-form {
  height: 65vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.2vw;
}
.enter-mail-input {
  font-family: 'Raleway', sans-serif;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #00203fff;
  width: 17vw;
  height: 4vh;
  font-size: 1.2vw;
  outline: none;
  padding: 0.5vh 1vw;
}
.enter-mail-input::placeholder {
  color: #00203fff;
}
.send-email {
  height: 5.4vh;
  width: 8vw;
  padding: 0.5vh 1vw;
  color: #f0f8ff;
  cursor: pointer;
  background-color: #00203fff;
  border: none;
  border-radius: 4px;
  transition: ease-out 0.2s;
}
.send-email:hover {
  background-color: #c71585;
  color: #f0f8ff;
}

/* footer */
.footer {
  height: 35vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00203fff;
  color: #adefd1ff;
  position: relative;
}
.footer-name {
  position: absolute;
  left: 10vw;
}
.social-btns {
  display: flex;
  position: absolute;
  right: 10vw;
}
.social-btns a {
  margin: 0 1vw;
}
.social-btns img {
  height: 30px;
  width: 30px;
  filter: invert(100%);
}
.social-btns img:hover {
  height: 30px;
  width: 30px;
  filter: invert(100%);
}

/* particle js */
#particles-js {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #001931;
  background-image: url('assets/images/cat-running.gif');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 0 75%;
}
canvas {
  display: block;
  vertical-align: bottom;
  z-index: 1;
}
