@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  font-family: 'Raleway', sans-serif;
}
::-webkit-scrollbar {
  background-color: #eee;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 30px;
}
span,
a,
p,
h1,
ul,
li,
h4,
h2,
button {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  list-style: none;
  text-decoration: none;
  z-index: 10;
  outline: none;
}
.highlight {
  color: #be2f29;
}
.highlight-three {
  color: #32cd32;
}
.highlight-two {
  color: #ecaf44;
}
.highlight-four {
  color: #9932cc;
}

/* Major containers */
.container {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* floating nav */
.floating-nav {
  top: 42vh;
  left: 93vw;
  width: 6vw;
  position: fixed;
  z-index: 3;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.floating-nav p {
  width: 100%;
  font-size: 1vw;
  display: flex;
  color: #ecaf44;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  padding: 1vh 0.5vw;
  cursor: pointer;
  transition: ease-out 0.2s;
}
.floating-nav p:hover {
  background-color: #0c1115;
}

/* intro section */
.intro {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-text {
  color: #f0f8ff;
  font-size: 3vw;
  line-height: 7.5vh;
  padding: 1vh 1vw 1vh 1vw;
}
.main-btn {
  padding: 1vh 1vw;
  width: 11vw;
  margin: 2vh 1vw;
  color: #f0f8ff;
  cursor: pointer;
  font-size: 1.2vw;
  border: 1px solid #eeeeee;
  background-color: transparent;
  transition: 0.3s;
}
.main-btn:hover {
  border: 1px solid #c71585;
  background-color: #c71585;
  color: #f0f8ff;
}

/* works */
.works {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  color: #fff;
}
.my-works {
  color: #ecaf44;
  font-weight: 800;
  font-size: 2vw;
  padding: 10vh 10vw 20vh 10vw;
}
/* works list */
.works-list {
  display: flex;
  width: 80%;
  margin: 0 auto;
}
.work-card {
  width: 20vw;
  height: 40vh;
  margin: 0.5vh 0.5vw;
  padding: 1vh 1vw;
  border: none;
  border-radius: 0.5vw;
  background-color: #0c1115;
  box-shadow: 5px 5px 10px #141414;
}
.work-heading {
  padding: 2vh 1vw;
  color: #ecaf44;
}
.work-desc {
  padding: 2vh 1vw;
  height: 12vh;
}
.work-view {
  cursor: pointer;
  margin: 5vh 5vw;
  color: #ecaf44;
  transition: 0.3s;
}
.work-view:hover {
  color: #be2f29;
}

/* contact me */
.contact-me {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #00203fff;
}
/* contact me form */
.contact-me-form {
  height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2.2vw;
}
.collab-bold {
  color: #ecaf44;
  font-weight: 800;
}
.enter-input {
  font-family: 'Raleway', sans-serif;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #00203fff;
  height: 4vh;
  font-size: 1.2vw;
  outline: none;
  padding: 0.5vh 1vw;
}
.enter-input::placeholder {
  color: #1a2c42;
}
.input-short {
  width: 17vw;
}
.input-long {
  margin: 1vh 0 0 0;
  width: 37vw;
}
.send-email {
  height: 5.4vh;
  width: 8vw;
  padding: 0.5vh 1vw;
  margin: 2vw 0 0 0;
  color: #ecaf44;
  cursor: pointer;
  background-color: #0c1115;
  border: none;
  border-radius: 4px;
  transition: ease-out 0.2s;
}
.send-email:hover {
  background-color: #be2f29;
  color: #ecaf44;
}

/* footer */
.footer {
  height: 25vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0c1115;
  color: #ecaf44;
  position: relative;
}
.footer-name {
  position: absolute;
  left: 10vw;
}
.social-btns {
  display: flex;
  position: absolute;
  right: 10vw;
}
.social-btns a {
  margin: 0 1vw;
}
.social-btns img {
  height: 30px;
  width: 30px;
  filter: invert(100%);
}
.social-btns img:hover {
  height: 30px;
  width: 30px;
  filter: invert(100%);
}

/* particle js */
#particles-js {
  width: 100vw;
  height: 100%;
  position: fixed;
  z-index: -100;
  background-color: #0c1115;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 0 75%;
}

/* For mobile phones, tabs, ipads etc. */
@media only screen and (max-width: 768px) {
  .floating-nav {
    display: none !important;
  }
  /* intro section */
  .main-text {
    font-size: 5.5vw;
    line-height: 5vh;
    text-align: center;
    padding: 1vh 1vw 1vh 1vw;
  }
  .align {
    text-align: center;
  }
  .main-btn {
    padding: 1vh 1vw;
    width: 30vw;
    margin: 2vh 1vw;
    font-size: 3.5vw;
  }

  /* works */
  .works {
    text-align: center;
  }
  .my-works {
    color: #ecaf44;
    font-weight: 800;
    font-size: 6vw;
    padding: 5vh 5vw;
  }
  .works-list {
    display: flex;
    flex-direction: column;
    padding-left: 15vw;
  }
  .work-card {
    width: 60vw;
    height: 25vh;
    text-align: center;
    margin: 0.5vh 0.5vw;
    padding: 1vh 1vw;
    border-radius: 2vw;
  }
  .work-card:nth-child(2) {
    display: none;
  }
  .work-heading {
    font-size: 4.2vw;
    padding: 0;
    color: #ecaf44;
  }
  .work-desc {
    font-size: 3.5vw;
    padding: 0 0.5vw;
    height: 12vh;
    overflow: hidden;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
  }
  .work-view {
    font-size: 3.5vw;
    cursor: pointer;
    margin: 0;
    color: #ecaf44;
    transition: 0.3s;
  }
  .work-view:hover {
    color: #be2f29;
  }

  /* contact me */
  .contact-me-form {
    height: 78vh;
  }
  .collab-bold {
    font-weight: 800;
    font-size: 5.2vw;
    margin: 0 0 3vh 0;
  }
  .align-responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .enter-input {
    font-size: 3.3vw;
  }
  .input-short {
    margin: 1.5vh 0 0 0;
    width: 60vw;
  }
  .input-long {
    margin: 0;
    width: 60vw;
  }
  .send-email {
    margin: 3vh 0 0 0;
    width: 20vw;
  }

  /* footer */
  .footer {
    height: 22vh;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .footer-name {
    position: relative;
    left: 0;
    font-size: 3.5vw;
  }
  .social-btns {
    display: flex;
    position: relative;
    right: 0;
    margin: 0 0 2vh 0;
  }
  .social-btns a {
    margin: 0 2vw;
  }
  .social-btns img {
    height: 25px;
    width: 25px;
    filter: invert(100%);
  }
  .social-btns img:hover {
    height: 30px;
    width: 30px;
    filter: invert(100%);
  }
}
